#key: user-data
#users:
#  - name: ansible
#    sudo: 'ALL=(ALL) NOPASSWD:ALL'
#    shell: /bin/bash
#    ssh_authorized_keys:
#      - <public ssh key>

#cloud-config
users:
  - name: ansible
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - <public ssh key>

write_files:
  - path: /etc/sudoers.d/ansible
    content: |
      ansible ALL=(ALL, !root) NOPASSWD: ALL
      ansible ALL=(ALL) !ALL
    permissions: '0440'